#tablero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 600px;
    height: 600px;
    
    max-height: 85vh;
    width: auto;

    aspect-ratio: 1 / 1;
}

.gema {
    width: 100%;
    height: 100%;
}

.gema--red{
    background-color: red;
}

.gema--purple{
    background-color: purple;
}

.gema--yellow{
    background-color: yellow;
}

.gema--blue{
    background-color: blue;
}

.gema--green{
    background-color: green;
}

.gema--orange{
    background-color: orange;
}

.seleccionada{
    opacity: 0.5;
}